@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

.currency-exchange-list-table {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	background: #F6F6F6;
	border-collapse: collapse;
	width: 100%;
}

.currency-exchange-list-table tr.header {
	display: table-row;
}

.currency-exchange-list-table td,
.currency-exchange-list-table th {
	padding: 4px 8px;
	border-bottom: 1px solid white;
	text-align: center;
}

.currency-exchange-list-table th {
	background: #0099cc;
	font-size: 11px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	padding: 8px 10px;
}
